html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: scroll;
  color: black;
  transition: color 200ms linear;
}

.app.dark {
  color: white;
}

.content-box {
  max-width: 1016px;
  width: 80vw;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.on-background .row {
  min-width: 416px;
  max-width: 1216px;
  width: 60vw;
}

@media(max-width: 900px) {
  .content-box {
    margin-top: 40px;
  }
}

h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 6px;
  padding-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

.tile {
  display: block;
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border: 2px solid #444;
  border-radius: 4px;
  margin-right: 10px;
}

.tile.big {
  min-height: 250px;
  height: 60vw;
  max-height: 350px;
}

.tile.borderless {
  border: none;
  overflow: visible;
}

a.tile, a.tile:visited {
  text-decoration: none;
}

.tile:last-child {
  margin-right: 0;
}

@media(max-width: 900px) {
  .content-box {
    box-sizing: border-box;
    margin-bottom: 100px;
  }
  .row {
    display: block;
  }
  .tile {
    flex-basis: 300px;
    flex-shrink: 1;
    width: calc(100% - 6px);
    margin-right: 0;
    margin-bottom: 10px;
  }
  .tile:last-child {
    margin-bottom: 0;
  }
}

.tile img {
  width: 100%;
  height: auto;
  z-index: -2;
}

.tile .label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  color: white;
  font-size: 16pt;
}

.tile .description {
  position: absolute;
  bottom: 60px;
  left: 20px;
  right: 20px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
}

.tile h2 {
  font-size: 40pt;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}

.tile h3 {
  font-size: 16pt;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}

@media(max-width: 900px) {
  .tile h2 {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    margin-right: 32px;
    font-size: 20pt;
    overflow: visible;
  }
  h2::before {
    content: '(';
    position: absolute;
    left: -32px;
    top: -13px;
    font-size: 30pt;
  }
  h2::after {
    content: ')';
    position: absolute;
    right: -32px;
    top: -13px;
    font-size: 30pt;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-left: 8px;
  margin-bottom: 8px;
  list-style-type: circle;
  list-style-position: inside;
}

li a, li a:hover, li a:visited {
  color: black;
}

.dark li a, .dark li a:hover, .dark li a:visited {
  color: white;
}
